@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  direction: rtl;
}
textarea:focus,
input:focus {
  outline: none;
}

::placeholder {
  font-size: 14px;
}

@font-face {
  font-family: "danaR";
  src: url("/DanaFaNum-Regular.ttf");
}
@font-face {
  font-family: "danaM";
  src: url("/DanaFaNum-Medium.ttf");
}
@font-face {
  font-family: "danaL";
  src: url("/DanaFaNum-Light.ttf");
}
@font-face {
  font-family: "danaSB";
  src: url("/DanaFaNum-DemiBold.ttf");
}
@font-face {
  font-family: "morabbaB";
  src: url("/Morabba-Bold.woff");
}

@layer base {
  * {
    @apply tw-font-danaL;
  }
}